/* body { will be activated later
    background-color: var(--Off-Black);
} */
/* variable colors */
/* 

- font-weights
default: 400
medium_500
semi-bold_600
bold_700

- Line heights
Default: 1
small:1.05
medium:1.2
paragraph defalt: 1.6
large: 1.8

-Letter spacing
-0.5px
0.75px

Typography System
Font Size (px)	Equivalent in rem
10px	0.625rem
12px	0.75rem
14px	0.875rem
16px	1rem
18px	1.125rem
20px	1.25rem
24px	1.5rem
30px	1.875rem
36px	2.25rem
44px	2.75rem
52px	3.25rem
62px	3.875rem
74px	4.625rem
86px	5.375rem
98px	6.125rem

2. Spacing System
Spacing (px)	Equivalent in rem
2px	0.125rem
4px	0.25rem
8px	0.5rem
12px	0.75rem
16px	1rem
24px	1.5rem
32px	2rem
48px	3rem
64px	4rem
80px	5rem
96px	6rem
128px	8rem

02 colors

primary: #e67e22
Tints:
#fdf2e9
#fae5d3


Shades: 
#cf711f;
#45260a

Accents

Greys:
#333
#555
#888
#767676 (ligtest gray allowed on #fff)
#6f6f6f (lightest gray alllowed

05 shadows
box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.075);

06 border-radius
default:9px
medium: 11px

07 whitespace
*/
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

:root {
  /* ### Primary */

  --Green: hsl(75, 94%, 57%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);

  /* ## Typography */

  /* ### Body Copy */

  /* --Font-size-(paragraph): 14px */

  /* spacing / typo system */

  /* Typography System */
  --font-size-4: 0.25rem; /* 4px */
  --font-size-8: 0.5rem; /* 8px */
  --font-size-10: 0.625rem; /* 10px */
  --font-size-12: 0.75rem; /* 12px */
  --font-size-14: 0.875rem; /* 14px */
  --font-size-16: 1rem; /* 16px */
  --font-size-18: 1.125rem; /* 18px */
  --font-size-20: 1.25rem; /* 20px */
  --font-size-24: 1.5rem; /* 24px */
  --font-size-30: 1.875rem; /* 30px */
  --font-size-36: 2.25rem; /* 36px */
  --font-size-44: 2.75rem; /* 44px */
  --font-size-52: 3.25rem; /* 52px */
  --font-size-62: 3.875rem; /* 62px */
  --font-size-74: 4.625rem; /* 74px */
  --font-size-86: 5.375rem; /* 86px */
  --font-size-98: 6.125rem; /* 98px */

  /* Spacing System */
  --spacing-2: 0.125rem; /* 2px */
  --spacing-4: 0.25rem; /* 4px */
  --spacing-8: 0.5rem; /* 8px */
  --spacing-12: 0.75rem; /* 12px */
  --spacing-16: 1rem; /* 16px */
  --spacing-24: 1.5rem; /* 24px */
  --spacing-32: 2rem; /* 32px */
  --spacing-48: 3rem; /* 48px */
  --spacing-64: 4rem; /* 64px */
  --spacing-80: 5rem; /* 80px */
  --spacing-96: 6rem; /* 96px */
  --spacing-128: 8rem; /* 128px */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: Inter, sans-serif;
  background: var(--Off-Black);
  /* font-size: var(--font-size-14); */
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

main {
  display: flex;
  width: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  /* max-width: 23rem; */
  /* padding: var(--spacing-lg); */
  margin: 0 auto;

  /* box-shadow: 5px 5px rgb(0, 0, 0); */
}

.social-links-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Dark-Grey);
  padding: var(--spacing-32);
  border-radius: 11px;
  min-width: 23rem;
}

.social-links-profile .profileimg {
  border-radius: 50%;
  width: 30%;
}

.name {
  color: var(--White);
  font-weight: 400;
}

.location {
  color: var(--Green);
  margin-top: var(--spacing-8);
  font-size: var(--font-size-14);
  font-weight: 700;
}

.bio {
  color: var(--White);
  font-size: var(--font-size-14);
  margin-top: var(--spacing-16);
  font-weight: 400;
}

ul {
  padding: 0;
}

.link {
  font-weight: 600;
  font-size: var(--font-size-14);
}

.links {
  list-style: none;

  width: 100%;
  margin-bottom: 0;
}

ul li {
  color: var(--White);
  padding: var(--spacing-8);
  text-align: center;
  background-color: var(--Grey);
  margin-bottom: var(--spacing-16);
  border-radius: 7px;
}

ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 34em) {
  .social-links-profile {
    padding: var(--spacing-24);
    min-width: 18rem;
  }

  /* .social-links-profile .profileimg {
    width: 30%;
  } */

  /* body {
    font-size: var(--font-size-14);
  } */

  .name {
    font-size: var(--font-size-20);
    font-weight: 700;
  }

  .location {
    font-size: var(--font-size-12);
    font-weight: 600;
  }

  .bio {
    font-size: var(--font-size-12);
    font-weight: 400;
  }
}
